@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 20px;
}

.accent {
  color: #0000ff;
  text-transform: capitalize;
}

.container {
  margin: auto;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#emphasize {
  font-size: 20px;
  font-weight: 600;
}

img{
  z-index: 5;
}

#video{
  margin: auto;
  aspect-ratio: 9/6 auto;
  max-width: 75%;
}

#green-sq {
  background-color: #b6ffc0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#yellow-sq {
  background-color: #fbffa7;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#purple-sq {
  background-color: #d5b3ff;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#blue-sq {
  background-color: #b1c5ff;
  height: 100%;
  width: 100%;
  z-index: 1;
}